<div class="clearfix">
  <%- form.label("title") %>
  <div class="input">
    <%- form.input("title") %>
  </div>
</div>
<div class="clearfix">
  <%- form.label("owner") %>
  <div class="input">
    <%- form.input("owner") %>
  </div>
</div>
<div class="clearfix">
  <%- form.label("reward") %>
  <div class="input">
    <%- form.input("reward") %>
  </div>
</div>
<div class="clearfix">
  <%- form.label("date") %>
  <div class="input">
    <%- form.input("date") %>
  </div>
</div>
